body {
	background-color: #4d4947;
	padding-top: 70px;
}

.navbar-inverse {
	background-color: #051b37;
}

.jumbotron {
	color: #051b37;
	background-color: #f0f3f4;
}

.navbar-inverse .navbar-nav>li>a {
	color: #f0f3f4;
}

.navbar-inverse .navbar-brand {
	color: #f0f3f4;
}