body {
	max-width: 700px;
	width: 80%;
	margin: 20px auto;
	border: solid 20px #bdc3c7;
	padding: 20px;
	font-family: 'Source Sans Pro';
	

}
h2 {
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2rem;

}
h1 {
	color: #2c3e50;
	font-weight: bold 700;
	font-size: 2.0rem;
}

.intro {
	border-left: solid 5px #bdc3c7;
	padding-left: 5px;
}
hr {
	border-top: 1px solid #bdc3c7;
	}