<<<<<<< HEAD
body {
	max-width: 700px;
	width: 80%;
	margin: 20px auto;
	border: solid 20px #bdc3c7;
	padding: 20px;
	font-family: 'Source Sans Pro';
	font-weight: bold;
	background-color: red;

}
h2 {
	color: #3498db;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 2px;

}
h1 {
	color: #2c3e50;
}

.intro {
	border-left: solid 3px #bdc3c7;
	padding-left: 5px;
}
hr {
	border-top: 1px solid #bdc3c7;
=======
body {
	width: 70%;
	margin-left: 15%;
	border: solid 20px #bdc3c7;
	font-family: 'Source Sans Pro';
	padding: 20px;
	font-weight: bold;

}
h2 {
	color: #3498db;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 2px;

}
h1 {
	color: #2c3e50;
}

.intro {
	border-left: solid 3px #bdc3c7;
	padding-left: 5px;
}
hr {
	border-top: 1px solid #bdc3c7;
>>>>>>> 17e8ba19108e7db2f65aba1c73b1bfeb8ff3ec02
	}