h1 {
	text-align: center;
}

table {
	margin: auto;
}
td {
	width: 100px;
	height: 100px;
}
.middle {
	border-left: solid black 1px;
	border-right: solid black 1px;
}
.second {
	border-top: solid black 1px;
	border-bottom: solid black 1px;
}

